<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, World!</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <a href="/authors?page=1">Authors</a>
    <form method = "POST" enctype="multipart/form-data" action = "/">    
        <input type="file" name="csv_authors" accept=".csv">
        <br>
        <button>Upload</button>
    </form>
    <a href="/delete">Delete all records</a>
</body>
</html>